.chat-body__header
  .chat-body__name
    ayaki
  .chat-body__time
    2019/08/10(Fri) 19:50:59
.chat-body__message
  Hello!
.chat-body__header
  .chat-body__name
    kazuki
  .chat-body__time
    2019/08/10(Fri) 19:55:59
.chat-body__message
  Hi!
.chat-body__header
  .chat-body__name
    kazuki
  .chat-body__time
    2019/08/10(Fri) 19:55:59
.chat-body__message
  Hi!
.chat-body__header
  .chat-body__name
    kazuki
  .chat-body__time
    2019/08/10(Fri) 19:55:59
.chat-body__message
  Hi!
.chat-body__header
  .chat-body__name
    kazuki
  .chat-body__time
    2019/08/10(Fri) 19:55:59
.chat-body__message
  Hi!
.chat-body__header
  .chat-body__name
    kazuki
  .chat-body__time
    2019/08/10(Fri) 19:55:59
.chat-body__message
  Hi!
.chat-body__header
  .chat-body__name
    kazuki
  .chat-body__time
    2019/08/10(Fri) 19:55:59
.chat-body__message
  Hi!
.chat-body__header
  .chat-body__name
    kazuki
  .chat-body__time
    2019/08/10(Fri) 19:55:59
.chat-body__message
  Hi!
.chat-body__header
  .chat-body__name
    kazuki
  .chat-body__time
    2019/08/10(Fri) 19:55:59
.chat-body__message
  Hi!